<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ventas NG - OnLine</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header" style="align:center">Ventas NG - OnLine | Iniciar Sesi&oacute;n</div>
      <div class="card-body">
      		<div th:if="${error}" >
                <div class="alert alert-danger">
                    <span>Credenciales incorrectas.</span>
                    <br/>
                </div>
            </div>
        <form name="form1" th:action="@{/login}" method="POST">
        <table cellpadding="10">
        	<tr>
        		<td><label>Usuario: </label></td>
        		<td><input type="text" id="inputUsuario" class="form-control" placeholder="Usuario" required="required" name="username"></td>
        	</tr>
        	<tr>
        		<td><label>Contrase&ntilde;a: </label></td>
        		<td><input type="password" id="inputPassword" class="form-control" placeholder="Contrase&ntilde;a" required="required" name="password"></td>
        	</tr>
        </table>
        <br/>
          <input type="submit" class="btn btn-primary btn-block" value="Iniciar sesi&oacute;n" />
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
