<ul class="sidebar navbar-nav" th:fragment="sidebar" id="sidebar">
	<li class="nav-item active"><a class="nav-link" href="index.html">
			<i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
	</a></li>
	<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
		href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false"> <i
			class="fas fa-fw fa-folder"></i> <span>C&oacute;digo Clases</span>
	</a>
		<div class="dropdown-menu" aria-labelledby="pagesDropdown">
			<a class="dropdown-item" th:href="@{/index9}">Clase 9</a>
			<a class="dropdown-item" th:href="@{/index10}">Clase 10</a>
		</div>
	</li>

</ul>